html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Your query have received new data or finished
      p
        To find more information go here:
        a(href='http://localhost:90/#?queryId=#{data.uqueryId}') http://localhost:90/#?queryId=#{data.uqueryId}